@use "../base/config" as *;

/**
 * Separator
 */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: rgba($white, 0.25);
  font-size: 14px;
  margin-bottom: calc(var(--spacing) * 0.5);

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba($white, 0.25);
  }

  &:not(:empty)::before {
    margin-right: .5em;
  }

  &:not(:empty)::after {
    margin-left: .5em;
  }

  &.dashed {
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px dashed rgba($white, 0.25);
    }
  }
}
