/**
 * Tags
 */

.tag {
  border-radius: 8px;
  display: inline-block;
  border: 1px solid var(--color-weak);
  text-transform: uppercase;
  padding: 0.5rem;
  line-height: 1;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: var(--color-mid);

  &:hover {
    border: 1px solid var(--color-strong);
    color: var(--color-strong);
  }
}

.tag.is-small {
  padding: 0.4rem;
  font-size: 0.6em;
}

.tag + .tag {
  margin-left: 0.5rem;
}
