@use "sass:map";
@use "base" as *;

/**
 * Utility Classes
 * Consolidated from _base.scss, _margins.scss, and _widths.scss
 */

// ============================================================================
// Responsive Visibility Utilities
// ============================================================================

@media screen and (min-width: map.get($breakpoints, "sm")) and (max-width: map.get($breakpoints, "md")) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: map.get($breakpoints, "md")) and (max-width: map.get($breakpoints, "lg")) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (min-width: map.get($breakpoints, "lg")) {
  .hide-lg {
    display: none !important;
  }
}

// ============================================================================
// Color Utilities
// ============================================================================

.striped {
  background-size: 200% 200%;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 20px,
    rgba($black, 0.25) 20px 40px
  ) !important;
  background-repeat: repeat-x;
}

.textured {
  background-image: var(--textured);
  background-repeat: repeat;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-weak {
  background-color: var(--color-weak) !important;
}

.bg-mid {
  background-color: var(--color-mid) !important;
}

.bg-strong {
  background-color: var(--color-strong) !important;
}

.bg-error {
  background-color: var(--color-error) !important;
}

.bg-warning {
  background-color: var(--color-warning) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}

.bd-primary {
  border: 1px solid var(--color-primary) !important;
}

.bd-weak {
  border: 1px solid var(--color-weak) !important;
}

.bd-mid {
  border: 1px solid var(--color-mid) !important;
}

.bd-strong {
  border: 1px solid var(--color-strong) !important;
}

.bd-error {
  border: 1px solid var(--color-error) !important;
}

.bd-success {
  border: 1px solid var(--color-success) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-weak {
  color: var(--color-weak) !important;
}

.text-strong {
  color: var(--color-strong) !important;
}

.text-mid {
  color: var(--color-mid) !important;
}

.text-error {
  color: var(--color-error) !important;
}

.text-warning {
  color: var(--color-warning) !important;
}

.text-success {
  color: var(--color-success) !important;
}

.text-white {
  color: #fff !important;
}

// ============================================================================
// Position Utilities
// ============================================================================

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.vertical-top {
  vertical-align: top;
}

// ============================================================================
// Grid Order Utilities
// ============================================================================

.order-first {
  order: -1;
}

.order-last {
  order: 999;
}

.order-none {
  order: 0;
}

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-9 { order: 9; }
.order-10 { order: 10; }
.order-11 { order: 11; }
.order-12 { order: 12; }

// ============================================================================
// Grid Column Span Utilities
// ============================================================================

.col-span-1 { grid-column: span 1 / span 1; }
.col-span-2 { grid-column: span 2 / span 2; }
.col-span-3 { grid-column: span 3 / span 3; }
.col-span-4 { grid-column: span 4 / span 4; }
.col-span-5 { grid-column: span 5 / span 5; }
.col-span-6 { grid-column: span 6 / span 6; }
.col-span-7 { grid-column: span 7 / span 7; }
.col-span-8 { grid-column: span 8 / span 8; }
.col-span-9 { grid-column: span 9 / span 9; }
.col-span-10 { grid-column: span 10 / span 10; }
.col-span-11 { grid-column: span 11 / span 11; }
.col-span-12 { grid-column: span 12 / span 12; }
.col-span-full { grid-column: 1 / -1; }

// ============================================================================
// Grid Column Start Utilities
// ============================================================================

.col-start-1 { grid-column-start: 1; }
.col-start-2 { grid-column-start: 2; }
.col-start-3 { grid-column-start: 3; }
.col-start-4 { grid-column-start: 4; }
.col-start-5 { grid-column-start: 5; }
.col-start-6 { grid-column-start: 6; }
.col-start-7 { grid-column-start: 7; }
.col-start-8 { grid-column-start: 8; }
.col-start-9 { grid-column-start: 9; }
.col-start-10 { grid-column-start: 10; }
.col-start-11 { grid-column-start: 11; }
.col-start-12 { grid-column-start: 12; }
.col-start-13 { grid-column-start: 13; }
.col-start-auto { grid-column-start: auto; }

// ============================================================================
// Grid Column End Utilities
// ============================================================================

.col-end-1 { grid-column-end: 1; }
.col-end-2 { grid-column-end: 2; }
.col-end-3 { grid-column-end: 3; }
.col-end-4 { grid-column-end: 4; }
.col-end-5 { grid-column-end: 5; }
.col-end-6 { grid-column-end: 6; }
.col-end-7 { grid-column-end: 7; }
.col-end-8 { grid-column-end: 8; }
.col-end-9 { grid-column-end: 9; }
.col-end-10 { grid-column-end: 10; }
.col-end-11 { grid-column-end: 11; }
.col-end-12 { grid-column-end: 12; }
.col-end-13 { grid-column-end: 13; }
.col-end-auto { grid-column-end: auto; }

// ============================================================================
// Grid Row Span Utilities
// ============================================================================

.row-span-1 { grid-row: span 1 / span 1; }
.row-span-2 { grid-row: span 2 / span 2; }
.row-span-3 { grid-row: span 3 / span 3; }
.row-span-4 { grid-row: span 4 / span 4; }
.row-span-5 { grid-row: span 5 / span 5; }
.row-span-6 { grid-row: span 6 / span 6; }
.row-span-full { grid-row: 1 / -1; }

// ============================================================================
// Grid Row Start Utilities
// ============================================================================

.row-start-1 { grid-row-start: 1; }
.row-start-2 { grid-row-start: 2; }
.row-start-3 { grid-row-start: 3; }
.row-start-4 { grid-row-start: 4; }
.row-start-5 { grid-row-start: 5; }
.row-start-6 { grid-row-start: 6; }
.row-start-7 { grid-row-start: 7; }
.row-start-auto { grid-row-start: auto; }

// ============================================================================
// Grid Row End Utilities
// ============================================================================

.row-end-1 { grid-row-end: 1; }
.row-end-2 { grid-row-end: 2; }
.row-end-3 { grid-row-end: 3; }
.row-end-4 { grid-row-end: 4; }
.row-end-5 { grid-row-end: 5; }
.row-end-6 { grid-row-end: 6; }
.row-end-7 { grid-row-end: 7; }
.row-end-auto { grid-row-end: auto; }

// ============================================================================
// Margin Utilities
// Tailwind-style margin utilities with 0.5rem increments
// ============================================================================

// All margins
.m-0 { margin: 0rem !important; }
.m-1 { margin: 0.5rem !important; }
.m-2 { margin: 1rem !important; }
.m-3 { margin: 1.5rem !important; }
.m-4 { margin: 2rem !important; }
.m-5 { margin: 2.5rem !important; }
.m-6 { margin: 3rem !important; }
.m-7 { margin: 3.5rem !important; }
.m-8 { margin: 4rem !important; }

// Margin top
.mt-0 { margin-top: 0rem !important; }
.mt-1 { margin-top: 0.5rem !important; }
.mt-2 { margin-top: 1rem !important; }
.mt-3 { margin-top: 1.5rem !important; }
.mt-4 { margin-top: 2rem !important; }
.mt-5 { margin-top: 2.5rem !important; }
.mt-6 { margin-top: 3rem !important; }
.mt-7 { margin-top: 3.5rem !important; }
.mt-8 { margin-top: 4rem !important; }

// Margin right
.mr-0 { margin-right: 0rem !important; }
.mr-1 { margin-right: 0.5rem !important; }
.mr-2 { margin-right: 1rem !important; }
.mr-3 { margin-right: 1.5rem !important; }
.mr-4 { margin-right: 2rem !important; }
.mr-5 { margin-right: 2.5rem !important; }
.mr-6 { margin-right: 3rem !important; }
.mr-7 { margin-right: 3.5rem !important; }
.mr-8 { margin-right: 4rem !important; }

// Margin bottom
.mb-0 { margin-bottom: 0rem !important; }
.mb-1 { margin-bottom: 0.5rem !important; }
.mb-2 { margin-bottom: 1rem !important; }
.mb-3 { margin-bottom: 1.5rem !important; }
.mb-4 { margin-bottom: 2rem !important; }
.mb-5 { margin-bottom: 2.5rem !important; }
.mb-6 { margin-bottom: 3rem !important; }
.mb-7 { margin-bottom: 3.5rem !important; }
.mb-8 { margin-bottom: 4rem !important; }

// Margin left
.ml-0 { margin-left: 0rem !important; }
.ml-1 { margin-left: 0.5rem !important; }
.ml-2 { margin-left: 1rem !important; }
.ml-3 { margin-left: 1.5rem !important; }
.ml-4 { margin-left: 2rem !important; }
.ml-5 { margin-left: 2.5rem !important; }
.ml-6 { margin-left: 3rem !important; }
.ml-7 { margin-left: 3.5rem !important; }
.ml-8 { margin-left: 4rem !important; }

// Margin horizontal (left and right)
.mx-0 { margin-left: 0rem !important; margin-right: 0rem !important; }
.mx-1 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.mx-2 { margin-left: 1rem !important; margin-right: 1rem !important; }
.mx-3 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.mx-4 { margin-left: 2rem !important; margin-right: 2rem !important; }
.mx-5 { margin-left: 2.5rem !important; margin-right: 2.5rem !important; }
.mx-6 { margin-left: 3rem !important; margin-right: 3rem !important; }
.mx-7 { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }
.mx-8 { margin-left: 4rem !important; margin-right: 4rem !important; }

// Margin vertical (top and bottom)
.my-0 { margin-top: 0rem !important; margin-bottom: 0rem !important; }
.my-1 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.my-2 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.my-3 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.my-4 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.my-5 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important; }
.my-6 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.my-7 { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }
.my-8 { margin-top: 4rem !important; margin-bottom: 4rem !important; }

// ============================================================================
// Width Utilities
// Tailwind-style width utilities with fractional and keyword values
// ============================================================================

// Width keyword utilities
.w-auto { width: auto !important; }
.w-full { width: 100% !important; }
.w-screen { width: 100vw !important; }
.w-min { width: min-content !important; }
.w-max { width: max-content !important; }
.w-fit { width: fit-content !important; }

// Fractional width utilities
// Halves
.w-1\/2 { width: 50% !important; }

// Thirds
.w-1\/3 { width: 33.333333% !important; }
.w-2\/3 { width: 66.666667% !important; }

// Quarters
.w-1\/4 { width: 25% !important; }
.w-2\/4 { width: 50% !important; }
.w-3\/4 { width: 75% !important; }

// Fifths
.w-1\/5 { width: 20% !important; }
.w-2\/5 { width: 40% !important; }
.w-3\/5 { width: 60% !important; }
.w-4\/5 { width: 80% !important; }

// Sixths
.w-1\/6 { width: 16.666667% !important; }
.w-2\/6 { width: 33.333333% !important; }
.w-3\/6 { width: 50% !important; }
.w-4\/6 { width: 66.666667% !important; }
.w-5\/6 { width: 83.333333% !important; }

// Twelfths
.w-1\/12 { width: 8.333333% !important; }
.w-2\/12 { width: 16.666667% !important; }
.w-3\/12 { width: 25% !important; }
.w-4\/12 { width: 33.333333% !important; }
.w-5\/12 { width: 41.666667% !important; }
.w-6\/12 { width: 50% !important; }
.w-7\/12 { width: 58.333333% !important; }
.w-8\/12 { width: 66.666667% !important; }
.w-9\/12 { width: 75% !important; }
.w-10\/12 { width: 83.333333% !important; }
.w-11\/12 { width: 91.666667% !important; }

// Max-width keyword utilities
.max-w-auto { max-width: auto !important; }
.max-w-full { max-width: 100% !important; }
.max-w-screen { max-width: 100vw !important; }
.max-w-min { max-width: min-content !important; }
.max-w-max { max-width: max-content !important; }
.max-w-fit { max-width: fit-content !important; }

// Max-width fractional utilities
// Halves
.max-w-1\/2 { max-width: 50% !important; }

// Thirds
.max-w-1\/3 { max-width: 33.333333% !important; }
.max-w-2\/3 { max-width: 66.666667% !important; }

// Quarters
.max-w-1\/4 { max-width: 25% !important; }
.max-w-2\/4 { max-width: 50% !important; }
.max-w-3\/4 { max-width: 75% !important; }

// Fifths
.max-w-1\/5 { max-width: 20% !important; }
.max-w-2\/5 { max-width: 40% !important; }
.max-w-3\/5 { max-width: 60% !important; }
.max-w-4\/5 { max-width: 80% !important; }

// Sixths
.max-w-1\/6 { max-width: 16.666667% !important; }
.max-w-2\/6 { max-width: 33.333333% !important; }
.max-w-3\/6 { max-width: 50% !important; }
.max-w-4\/6 { max-width: 66.666667% !important; }
.max-w-5\/6 { max-width: 83.333333% !important; }

// Twelfths
.max-w-1\/12 { max-width: 8.333333% !important; }
.max-w-2\/12 { max-width: 16.666667% !important; }
.max-w-3\/12 { max-width: 25% !important; }
.max-w-4\/12 { max-width: 33.333333% !important; }
.max-w-5\/12 { max-width: 41.666667% !important; }
.max-w-6\/12 { max-width: 50% !important; }
.max-w-7\/12 { max-width: 58.333333% !important; }
.max-w-8\/12 { max-width: 66.666667% !important; }
.max-w-9\/12 { max-width: 75% !important; }
.max-w-10\/12 { max-width: 83.333333% !important; }
.max-w-11\/12 { max-width: 91.666667% !important; }

// Min-width keyword utilities
.min-w-auto { min-width: auto !important; }
.min-w-full { min-width: 100% !important; }
.min-w-screen { min-width: 100vw !important; }
.min-w-min { min-width: min-content !important; }
.min-w-max { min-width: max-content !important; }
.min-w-fit { min-width: fit-content !important; }

// Min-width fractional utilities
// Halves
.min-w-1\/2 { min-width: 50% !important; }

// Thirds
.min-w-1\/3 { min-width: 33.333333% !important; }
.min-w-2\/3 { min-width: 66.666667% !important; }

// Quarters
.min-w-1\/4 { min-width: 25% !important; }
.min-w-2\/4 { min-width: 50% !important; }
.min-w-3\/4 { min-width: 75% !important; }

// Fifths
.min-w-1\/5 { min-width: 20% !important; }
.min-w-2\/5 { min-width: 40% !important; }
.min-w-3\/5 { min-width: 60% !important; }
.min-w-4\/5 { min-width: 80% !important; }

// Sixths
.min-w-1\/6 { min-width: 16.666667% !important; }
.min-w-2\/6 { min-width: 33.333333% !important; }
.min-w-3\/6 { min-width: 50% !important; }
.min-w-4\/6 { min-width: 66.666667% !important; }
.min-w-5\/6 { min-width: 83.333333% !important; }

// Twelfths
.min-w-1\/12 { min-width: 8.333333% !important; }
.min-w-2\/12 { min-width: 16.666667% !important; }
.min-w-3\/12 { min-width: 25% !important; }
.min-w-4\/12 { min-width: 33.333333% !important; }
.min-w-5\/12 { min-width: 41.666667% !important; }
.min-w-6\/12 { min-width: 50% !important; }
.min-w-7\/12 { min-width: 58.333333% !important; }
.min-w-8\/12 { min-width: 66.666667% !important; }
.min-w-9\/12 { min-width: 75% !important; }
.min-w-10\/12 { min-width: 83.333333% !important; }
.min-w-11\/12 { min-width: 91.666667% !important; }
