@use "sass:color";
@use "sass:string";

/* PicoCSS 1.x functions */
@function to-rgb($color) {
  @return string.unquote("rgb(#{color.channel($color, "red", $space: rgb)}, #{color.channel($color, "green", $space: rgb)}, #{color.channel($color, "blue", $space: rgb)})");
}
