@use "sass:color";
@use "sass:map";
@use "config" as *;

:root {
  --background-color: #faf9f6;

  // Base colors from $color-* Sass variables (can be overridden at runtime)
  --color-primary: #{$primary-600};
  --color-primary-base: #{$color-primary}; // Alternative primary color from $color-primary
  --color-error: #{$color-error};
  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-grey: #{$color-grey};

  --grid-gutter: 1rem;

  --color-weak: #{$grey-100};
  --color-mid: #{$grey-200};
  --color-strong: #{$grey-400};
}

@mixin dark {
  --background-color: #{$grey-900};

  --color-weak: #{$grey-800};
  --color-mid: #{$grey-600};
  --color-strong: #{$grey-400};

  // Texts colors
  --color: #{$grey-200};
  --h1-color: #{$grey-50};
  --h2-color: #{color.mix($grey-100, $grey-50)};
  --h3-color: #{$grey-100};
  --h4-color: #{color.mix($grey-200, $grey-100)};
  --h5-color: #{$grey-200};
  --h6-color: #{color.mix($grey-300, $grey-200)};

  // Muted colors
  --muted-color: #{$grey-500};
  --muted-border-color: #{color.mix($grey-900, $grey-800, 75%)};

  // Primary colors
  --primary: var(--color-primary);
  --primary-hover: #{$primary-500};
  --primary-focus: #{rgba($primary-600, 0.25)};
  --primary-inverse: #{$white};

  // Secondary colors
  --secondary: #{$grey-600};
  --secondary-hover: #{$grey-500};
  --secondary-focus: #{rgba($grey-500, 0.25)};
  --secondary-inverse: #{$white};

  // Contrast colors
  --contrast: #{$grey-50};
  --contrast-hover: #{$white};
  --contrast-focus: #{rgba($grey-500, 0.25)};
  --contrast-inverse: #{$black};

  // Inserted (<ins>) & Deleted (<ins>)
  --ins-color: var(--color-success);
  --del-color: var(--color-error);

  // Blockquote
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Form elements
  --form-element-background-color: #{color.mix($black, $grey-900, 37.5%)};
  --form-element-border-color: #{color.mix($grey-800, $grey-700)};
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--form-element-background-color);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #{$grey-800};
  --form-element-disabled-border-color: #{$grey-700};
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: var(--color-error);
  --form-element-invalid-active-border-color: var(--color-error);
  --form-element-invalid-focus-color: #{rgba($color-error, 0.25)};
  --form-element-valid-border-color: var(--color-success);
  --form-element-valid-active-border-color: var(--color-success);
  --form-element-valid-focus-color: #{rgba($color-success, 0.25)};

  // Switch (input[type="checkbox"][role="switch"])
  --switch-background-color: #{color.mix($grey-800, $grey-700)};
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  // Range (input[type="range"])
  --range-border-color: #{color.mix($grey-900, $grey-800)};
  --range-active-border-color: #{$grey-800};
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);

  // Table
  --table-border-color: var(--muted-border-color);
  --table-row-striped-background-color: #{rgba($grey-500, 0.05)};

  // Code
  --code-background-color: #{color.mix($black, $grey-900, 12.5%)};
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #{hsl($primary-hue, 30%, 50%)};
  --code-property-color: #{hsl($primary-hue + 180, 30%, 50%)};
  --code-value-color: #{hsl($primary-hue + 60, 10%, 50%)};
  --code-comment-color: #{color.mix($grey-700, $grey-600)};

  // Accordion (<details>)
  --accordion-border-color: var(--muted-border-color);
  --accordion-active-summary-color: var(--primary);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);

  // Dropdown (<details role="list">)
  --dropdown-background-color: #{$grey-900};
  --dropdown-border-color: #{color.mix($grey-900, $grey-800)};
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: #{rgba(color.mix($grey-900, $grey-800), 0.75)};

  // Tooltip ([data-tooltip])
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);

  --textured: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='300' height='300'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.2' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='300' height='300' fill='%23101010' opacity='0.25'/%3E%3Crect width='300' height='300' filter='url(%23n)' opacity='0.1'/%3E%3C/svg%3E");

  // Document
  color-scheme: dark;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  // Texts colors
  --color: #{$grey-700};
  --h1-color: #{$grey-900};
  --h2-color: #{color.mix($grey-900, $grey-800)};
  --h3-color: #{$grey-800};
  --h4-color: #{color.mix($grey-800, $grey-700)};
  --h5-color: #{$grey-700};
  --h6-color: #{color.mix($grey-700, $grey-600)};

  // Muted colors
  --muted-color: #{$grey-500};
  --muted-border-color: #{$grey-50};

  // Primary colors
  --primary: #{$primary-600};
  --primary-hover: #{$primary-700};
  --primary-focus: #{rgba($primary-600, 0.125)};
  --primary-inverse: #{$white};

  // Secondary colors
  --secondary: #{$grey-600};
  --secondary-hover: #{$grey-700};
  --secondary-focus: #{rgba($grey-600, 0.125)};
  --secondary-inverse: #{$white};

  // Contrast colors
  --contrast: #{$grey-900};
  --contrast-hover: #{$black};
  --contrast-focus: #{rgba($grey-600, 0.125)};
  --contrast-inverse: #{$white};

  // Inserted (<ins>) & Deleted (<ins>)
  --ins-color: var(--color-success);
  --del-color: var(--color-error);

  // Blockquote
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Form elements
  --form-element-background-color: transparent;
  --form-element-border-color: #{$grey-300};
  --form-element-color: var(--color);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: transparent;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --form-element-disabled-background-color: #{$grey-100};
  --form-element-disabled-border-color: #{$grey-300};
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: var(--color-error);
  --form-element-invalid-active-border-color: var(--color-error);
  --form-element-invalid-focus-color: #{rgba($color-error, 0.125)};
  --form-element-valid-border-color: var(--color-success);
  --form-element-valid-active-border-color: var(--color-success);
  --form-element-valid-focus-color: #{rgba(var(--color-success), 0.125)};

  // Switch (input[type="checkbox"][role="switch"])
  --switch-background-color: #{$grey-200};
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  // Range (input[type="range"])
  --range-border-color: #{$grey-100};
  --range-active-border-color: #{$grey-200};
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);

  // Table
  --table-border-color: var(--muted-border-color);
  --table-row-striped-background-color: #{color.mix($grey-50, $white)};

  // Code
  --code-background-color: #{$grey-50};
  --code-color: var(--muted-color);
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: #{hsl($primary-hue, 40%, 50%)};
  --code-property-color: #{hsl($primary-hue + 180, 40%, 40%)};
  --code-value-color: #{hsl($primary-hue + 60, 20%, 50%)};
  --code-comment-color: #{$grey-300};

  // Accordion (<details>)
  --accordion-border-color: var(--muted-border-color);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);

  // Card (<article>)
  $box-shadow-elevation: 1rem;
  $box-shadow-blur-strengh: 6rem;
  $box-shadow-opacity: 0.06;
  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow:
    #{($box-shadow-elevation * 0.5 * 0.029)} #{($box-shadow-elevation * 0.029)} #{($box-shadow-blur-strengh * 0.029)} #{rgba($grey-900, ($box-shadow-opacity * 0.283))},
    #{($box-shadow-elevation * 0.5 * 0.067)} #{($box-shadow-elevation * 0.067)} #{($box-shadow-blur-strengh * 0.067)} #{rgba($grey-900, ($box-shadow-opacity * 0.4))},
    #{($box-shadow-elevation * 0.5 * 0.125)} #{($box-shadow-elevation * 0.125)} #{($box-shadow-blur-strengh * 0.125)} #{rgba($grey-900, ($box-shadow-opacity * 0.5))},
    #{($box-shadow-elevation * 0.5 * 0.225)} #{($box-shadow-elevation * 0.225)} #{($box-shadow-blur-strengh * 0.225)} #{rgba($grey-900, ($box-shadow-opacity * 0.6))},
    #{($box-shadow-elevation * 0.5 * 0.417)} #{($box-shadow-elevation * 0.417)} #{($box-shadow-blur-strengh * 0.417)} #{rgba($grey-900, ($box-shadow-opacity * 0.717))},
    #{($box-shadow-elevation * 0.5)} #{$box-shadow-elevation} #{$box-shadow-blur-strengh} #{rgba($grey-900, $box-shadow-opacity)},
    0 0 0 0.0625rem #{rgba($grey-900, ($box-shadow-opacity * 0.25))};
  --card-sectionning-background-color: #{color.mix($grey-50, $white, 25%)};

  // Dropdown (<details role="list">)
  --dropdown-background-color: #{color.mix($grey-50, $white, 25%)};
  --dropdown-border-color: #{color.mix($grey-100, $grey-50)};
  --dropdown-box-shadow: var(--card-box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: #{$grey-50};

  // Modal (<dialog>)
  --modal-overlay-background-color: #{rgba($grey-100, 0.7)};

  // Loading ([aria-busy=true])
  --loading-spinner-opacity: 0.5;

  // Tooltip ([data-tooltip])
  --tooltip-background-color: var(--contrast);
  --tooltip-color: var(--contrast-inverse);

  --textured: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='300' height='300'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.2' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='300' height='300' fill='%23101010' opacity='0.15'/%3E%3Crect width='300' height='300' filter='url(%23n)' opacity='0.1'/%3E%3C/svg%3E");

  // Document
  color-scheme: light;
}

// Commons Styles
:root {
  // Typography
  // Font family stacks
  --font-family-sans: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
    "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family: var(--font-family-sans);
  --line-height: 1.5;
  --font-weight: 400;
  --font-size: 16px;

  // Responsive typography
  @if map.get($breakpoints, "sm") {
    @media (min-width: map.get($breakpoints, "sm")) {
      --font-size: 17px;
    }
  }

  @if map.get($breakpoints, "md") {
    @media (min-width: map.get($breakpoints, "md")) {
      --font-size: 18px;
    }
  }

  @if map.get($breakpoints, "lg") {
    @media (min-width: map.get($breakpoints, "lg")) {
      --font-size: 19px;
    }
  }

  @if map.get($breakpoints, "xl") {
    @media (min-width: map.get($breakpoints, "xl")) {
      --font-size: 20px;
    }
  }

  & {
    // Borders
    --border-radius: 0.25rem;
    --border-width: 1px;
    --outline-width: 3px;

    // Spacings
    --spacing: 1rem;

    // Spacings for typography elements
    --typography-spacing-vertical: 1.5rem;

    // Spacings for body > header, body > main, body > footer, section, article
    --block-spacing-vertical: calc(var(--spacing) * 2);
    --block-spacing-horizontal: var(--spacing);

    // Grid
    --grid-spacing-vertical: var(--spacing);
    --grid-spacing-horizontal: var(--spacing);

    // Spacings for form elements and button
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;

    // Spacings for nav component
    --nav-element-spacing-vertical: 1rem;
    --nav-element-spacing-horizontal: 0.5rem;
    --nav-link-spacing-vertical: 0.5rem;
    --nav-link-spacing-horizontal: 0.5rem;

    // Font weight for form labels & fieldsets legend
    --form-label-font-weight: var(--font-weight);

    // Transitions
    --transition: 0.2s ease-in-out;

    // Modal (<dialog>)
    --modal-overlay-backdrop-filter: blur(0.25rem);
  }
}

// Responsives spacings
// Sectioning
body > header,
body > main,
body > footer,
section {
  @if map.get($breakpoints, "sm") {
    @media (min-width: map.get($breakpoints, "sm")) {
      --block-spacing-vertical: calc(var(--spacing) * 2.5);
    }
  }

  @if map.get($breakpoints, "md") {
    @media (min-width: map.get($breakpoints, "md")) {
      --block-spacing-vertical: calc(var(--spacing) * 3);
    }
  }

  @if map.get($breakpoints, "lg") {
    @media (min-width: map.get($breakpoints, "lg")) {
      --block-spacing-vertical: calc(var(--spacing) * 3.5);
    }
  }

  @if map.get($breakpoints, "xl") {
    @media (min-width: map.get($breakpoints, "xl")) {
      --block-spacing-vertical: calc(var(--spacing) * 4);
    }
  }
}

// Card (<article>)
article {
  @if map.get($breakpoints, "sm") {
    @media (min-width: map.get($breakpoints, "sm")) {
      --block-spacing-horizontal: calc(var(--spacing) * 1.25);
    }
  }

  @if map.get($breakpoints, "md") {
    @media (min-width: map.get($breakpoints, "md")) {
      --block-spacing-horizontal: calc(var(--spacing) * 1.5);
    }
  }

  @if map.get($breakpoints, "lg") {
    @media (min-width: map.get($breakpoints, "lg")) {
      --block-spacing-horizontal: calc(var(--spacing) * 1.75);
    }
  }

  @if map.get($breakpoints, "xl") {
    @media (min-width: map.get($breakpoints, "xl")) {
      --block-spacing-horizontal: calc(var(--spacing) * 2);
    }
  }
}

// Modal
dialog > article {

  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);

  @if map.get($breakpoints, "sm") {
    @media (min-width: map.get($breakpoints, "sm")) {
      --block-spacing-vertical: calc(var(--spacing) * 2.5);
      --block-spacing-horizontal: calc(var(--spacing) * 1.25);
    }
  }

  @if map.get($breakpoints, "md") {
    @media (min-width: map.get($breakpoints, "md")) {
      --block-spacing-vertical: calc(var(--spacing) * 3);
      --block-spacing-horizontal: calc(var(--spacing) * 1.5);
    }
  }
}

// Link
a {
  --text-decoration: none;

  // Secondary & Contrast
  &.secondary,
  &.contrast {
    --text-decoration: underline;
  }
}

// Small
small {
  --font-size: 0.875em;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: 700;
}

h1 {
  --font-size: 2rem;
  --typography-spacing-vertical: 3rem;
}

h2 {
  --font-size: 1.75rem;
  --typography-spacing-vertical: 2.625rem;
}

h3 {
  --font-size: 1.5rem;
  --typography-spacing-vertical: 2.25rem;
}

h4 {
  --font-size: 1.25rem;
  --typography-spacing-vertical: 1.874rem;
}

h5 {
  --font-size: 1.125rem;
  --typography-spacing-vertical: 1.6875rem;
}

// Forms elements
[type="checkbox"],
[type="radio"] {
  --border-width: 2px;
}

[type="checkbox"][role="switch"] {
  --border-width: 3px;
}

// Table
thead,
tfoot {
  th,
  td {
    --border-width: 3px;
  }
}

:not(thead, tfoot) > * > td {
  --font-size: 0.875em;
}

// Code
pre,
code,
kbd,
samp {
  --font-family: var(--font-family-mono);
}

kbd {
  --font-weight: bolder;
}

/**
 * Theme: default
 */

// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark;
  }
}

// Dark theme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  @include dark;
}

// Accent-color
progress,
[type="checkbox"],
[type="radio"],
[type="range"] {
  accent-color: var(--primary);
}
